<nav>
    <div class="toolbar-div">
        <h1 class="brand">LearnHub</h1>
        <div class="btn-ctn">
            <button class="toolbar-btn">Iniciar sesión</button>
            <button (click)="openForm()" class="toolbar-btn">Registrarme</button>
        </div>
    </div>
</nav>

<div class="popup-ctn" [ngClass]="{ 'show-popup': isFormOpen }">
    <div class="popup">
        <form [formGroup]="studentForm" (ngSubmit)="submit()">
            <div class="title-popup">
                <p style="font-size: 1.1em;">Complete sus datos para registrarse:</p>
                <p (click)="closeForm()" style="cursor: pointer;">X</p>
            </div>
            <input type="text" formControlName="name" placeholder="Ingrese su nombre" required>
            <span id="text-error" *ngIf="studentForm.get('name')?.touched && studentForm.get('name')?.errors?.['required']">*El nombre no puede estar vacío</span>
            
            <input type="text" formControlName="lastname" placeholder="Ingrese su apellido" required>
            <span id="text-error" *ngIf="studentForm.get('lastname')?.touched && studentForm.get('lastname')?.errors?.['required']">*El apellido no puede estar vacío</span>
            
            <input type="number" formControlName="age" min="18" placeholder="Ingrese su edad">
            
            <input type="text" formControlName="nationality" placeholder="Ingrese su nacionalidad">
            
            <input type="email" formControlName="email" placeholder="Ingrese su correo electrónico" required>
            <span id="text-error" *ngIf="studentForm.get('email')?.touched && studentForm.get('email')?.errors?.['required']">*El correo electrónico no puede estar vacío</span>
            <span id="text-error" *ngIf="studentForm.get('email')?.touched && studentForm.get('email')?.errors?.['email']">*El correo electrónico no es válido</span>
            
            <textarea rows="10" cols="70" formControlName="mensaje" placeholder="Escriba un mensaje adicional"></textarea>
            <div id="text-error" *ngIf="this.studentForm.get('mensaje')?.errors?.['maxlength']">*Haz alcanzado el máximo de caracteres (500)</div>
            
            <button type="submit" [disabled]="!studentForm.valid" class="toolbar-btn">Registrarme</button>
        </form>
    </div>
</div>