.toolbar-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #d16600;
}

.brand {
    font-family: "Truculenta", sans-serif;
    text-align: center;
    font-size: 2.4em;
    padding: 10px;
}
