
<h3 class="title">Estos son nuestros cursos!</h3>

<!-- <button class="student-btn">Crear producto</button> -->

<table mat-table *ngIf="(courses$ | async) as courses" [dataSource]="courses" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No: </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre: </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Precio: </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container> 

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones: </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>