<div class="layout">

  <div class="toolbar-ctn">
    <app-dashboard/>
  </div>

  <!-- Arreglar esto -->
  <div class="navbar-students-ctn">
    <img src="../assets/images/fondo-pantalla-principal.jpg" class="background-image" alt="Estudiá sin moverte de tu casa">
  </div>
</div>

<footer class="footer">
  <p class="title-footer">Seguinos en:</p>
  <div class="redes-sociales-ctn">
    <a href="https://instagram.com" target="_blank">Instagram</a>
    <a href="https://facebook.com" target="_blank">Facebook</a>
    <a href="https://tiktok.com" target="_blank">Tik Tok</a>
  </div>
</footer>

<router-outlet />
