<header class="header">
  <h1 class="brand">FernwehVoyage</h1>
</header>

<div class="layout">
  <div class="toolbar-ctn">
    <app-tool-bar></app-tool-bar>
  </div>
  <div class="navbar-travel-ctn">
    <div class="navbar-ctn">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="travel-ctn">
      <app-travel></app-travel>
    </div>
  </div>
</div>

<footer class="footer">
  <p>Seguinos en:</p>
  <div class="redes-sociales-ctn">
    <a href="https://instagram.com" target="_blank">Instagram</a>
    <a href="https://facebook.com" target="_blank">Facebook</a>
    <a href="https://tiktok.com" target="_blank">Tik Tok</a>
  </div>
</footer>

<router-outlet />
