<h3 class="title">¡Bienvenidos!</h3>

<p class="subtitle">Esta es una plataforma de {{ title }}.</p>

<div class="card-ctn">
    <div class="card">card 1</div>
    <div class="card">card 2</div>
    <div class="card">card 3</div>
    <div class="card">card 4</div>
</div>

<button (click)="mostrarListado = !mostrarListado" class="btn-resultados">Ver resultados de la evaluación</button>

<div *ngIf="mostrarListado" class="students-ctn">
    <div *ngFor="let student of students" class="students-card">
        <div class="student-card">
            <p style="padding-right: 6px; text-decoration: underline;">Alumno</p>
            <p style="font-weight: 300;">{{ student.name }}</p>
        </div>
        <div class="student-card">
            <p style="padding-right: 6px; text-decoration: underline;">DNI</p>
            <p style="font-weight: 300;">{{ student.dni }}</p>
        </div>
        <div class="student-card">
            <p style="padding-right: 6px; text-decoration: underline;">Edad</p>
            <p style="font-weight: 300;">{{ student.age }}</p>
        </div>
        <div class="student-card">
            <p style="padding-right: 6px; text-decoration: underline;">Género</p>
            <p style="font-weight: 300;">{{ student.gender }}</p>
        </div>
        <div class="student-card">
            <p style="padding-right: 6px; text-decoration: underline;">Resultado</p>
            <p [ngClass]="{'success': student.aprobado, 'error': !student.aprobado}" style="font-style: italic;">
                <strong>{{ (student.aprobado ? 'Aprobado' : 'No aprobado') | uppercase }}</strong>
            </p>
        </div>
    </div>
</div>