<h3 class="title">¡Bienvenidos!</h3>

<p class="subtitle">Esta es una plataforma de {{ title }}.</p>

<div class="card-ctn">
    <div class="card">card 1</div>
    <div class="card">card 2</div>
    <div class="card">card 3</div>
    <div class="card">card 4</div>
</div>

<button (click)="mostrarListado = !mostrarListado">Ver listado de alumnos</button>

<ul *ngIf="mostrarListado">
    <li *ngFor="let student of students">
        {{ student }}
    </li>
</ul>

<!-- hacer un ng class para que cambien de color los aprobados -->
<!-- hacer un ngif para que muestre solo los aprobados -->

<ul *ngIf="mostrarListado">
    <li *ngFor="let student of example">
        {{ student.name }} - {{ student.aprobado }}
    </li>
</ul>

<div [ngClass]="hasError ? 'error': 'success'">Prueba de Ng Class</div>

<button (click)="alternarError()" [disabled]="!isDisabled">Click me!</button>

<p>Pipe</p>
<p>{{ birthdayStudents | date: 'dd/MM/yy' }}</p>
