h3 {
    margin: 0;
    color: #954900;
}

.title {
    padding: 15px;
    font-size: 1.4em;
}

.subtitle {
    padding-bottom: 20px;
    color: #954900;
}

.card-ctn {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.card {
    background-color: #d16600;
    color: #e7e7e7;
    border-radius: 10px;
    padding: 15px;
    font-size: 1rem;
    height: 150px;
    width: 15%;
}


.btn-resultados {
    background-color: #016804;
    text-align: center;
    border: none;
    border-radius: 12px;
    padding: 5px 10px 5px 10px;
    margin: 15px;
    cursor: pointer;
    color: #ffae5e;
}
    
.btn-resultados:hover {
    background-color: #d16600;
    color: #e7e7e7;
}



.students-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}


.students-card {
    background-color: #d16600;
    color: #e7e7e7;
    padding: 14px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.students-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.student-card {
    display: flex;
}


// NgClass

.success {
    color: #076d35;
}

.error {
    color: #950000;
}

