<main style="height: 100vh; background-color: rgb(241, 178, 83);">
    <div class="d-flex justify-content-center align-items-center h-100">
        <p>Para continuar, debes iniciar sesión</p>

        <div class="w-6">
            <mat-card>
                <mat-card-content>
                    <form action="">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input/>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input/>
                        </mat-form-field>
                    </form>
                    <!-- <button (click)="login()" color="primary" mat-flat-button>
                        Iniciar sesión
                    </button> -->
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</main>