<mat-drawer-container class="dashboard-ctn" autosize="true">

    <!-- SIDEBAR -->
    <mat-drawer #drawer class="sidenav" [mode]="isMobile() ? 'over' : 'side'">
        <div class="btn-ctn-sidenav">
            @if (showFiller) {
                <p>Contenido extra</p>
            }
            <button class="navbar-btn" (click)="showFiller = !showFiller" mat-raised-button>Cursos</button>
            <button class="navbar-btn" (click)="showFiller = !showFiller" mat-raised-button>Preguntas frecuentes</button>
            <button class="navbar-btn" (click)="showFiller = !showFiller" mat-raised-button>Contáctanos</button>
        </div>
    </mat-drawer>
    <!-- FIN SIDEBAR -->
  
    <!-- CONTENIDO A LA DERECHA DEL SIDEBAR -->
    <div class="sidenav-ctn">

        <!-- TOOLBAR SUPERIOR -->
        <mat-toolbar class="toolbar-div">
            <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="brand">LearnHub</h1>
            <div class="btn-ctn">
                <button class="toolbar-btn">Iniciar sesión</button>
                <button (click)="openForm()" class="toolbar-btn">Registrarme</button>
                
            </div>
        </mat-toolbar>
        
        <!-- POPUP REGISTRO -->
        <div class="popup-ctn" [ngClass]="{ 'show-popup': isFormOpen }">
            <div class="popup">
                <form [formGroup]="studentForm">
                    <div class="title-popup">
                        <p mat-dialog-title style="font-size: 1.1em;">Complete sus datos para registrarse:</p>
                        <p (click)="closeForm()" style="cursor: pointer;">X</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label class="mat-label-text">Nombre</mat-label>
                                <input matInput type="text" formControlName="name" required>
                                <mat-hint id="text-error" *ngIf="studentForm.get('name')?.touched && studentForm.get('name')?.errors?.['required']">
                                    *El nombre no puede estar vacío
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label class="mat-label-text">Apellido</mat-label>
                                <input matInput type="text" formControlName="lastname" required>
                                <mat-hint id="text-error" *ngIf="studentForm.get('lastname')?.touched && studentForm.get('lastname')?.errors?.['required']">
                                    *El apellido no puede estar vacío
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label class="mat-label-text">Edad</mat-label>
                                <input matInput type="number" formControlName="age" min="18">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label class="mat-label-text">Nacionalidad</mat-label>
                                <input matInput type="text" formControlName="nationality">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-4">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label class="mat-label-text">Email</mat-label>
                                <input matInput type="email" formControlName="email" required>
                                <mat-hint id="text-error" *ngIf="studentForm.get('email')?.touched && studentForm.get('email')?.errors?.['required']">
                                    *El correo electrónico no puede estar vacío
                                </mat-hint>
                                <mat-hint id="text-error" *ngIf="studentForm.get('email')?.touched && studentForm.get('email')?.errors?.['email']">
                                    *El correo electrónico no es válido
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="col-4">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label class="mat-label-text">Role</mat-label>
                                <mat-select formControlName="role">
                                    <mat-option value="admin">Administrador</mat-option>
                                    <mat-option value="user">Usuario</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-4">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label class="mat-label-text">Escriba un mensaje adicional</mat-label>
                                <textarea matInput rows="10" cols="70" formControlName="mensaje"></textarea>
                                <mat-hint id="text-error" *ngIf="this.studentForm.get('mensaje')?.errors?.['maxlength']">
                                    *Haz alcanzado el máximo de caracteres (500)
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div mat-dialog-actions>
                        <button mat-button (click)="onSave()" type="submit" [disabled]="!studentForm.valid" class="toolbar-btn">Registrarme</button>
                        <button mat-button (click)="closeForm()" class="toolbar-btn">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- FINPOPUP REGISTRO -->
        <!-- FIN TOOLBAR SUPERIOR -->

        <app-students (openFormEvent)="openForm()"></app-students>

    </div>
    <!-- FIN CONTENIDO A LA DERECHA DEL SIDEBAR -->
  
</mat-drawer-container>